
header {
    /* Mantém o header fixo no topo */
    top: 0;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    height: 6rem;

    background-color: var(--color-white);
}

header button {
    width: 5rem;
    height: 2rem;

    background-color: var(--color-white);
    color: var(--color-red-dark);

    border: 2px solid var(--color-red-dark);
    border-radius: 0.4rem;
}

.button1 {
    background-color: var(--color-red-dark);
    color: var(--color-white);
}


/* Logo */
#header-main {
    display: flex;
    align-items: center;
    position: relative;

    color: var(--color-red-dark);
}

#header-main img {
    width: 229px;
    height: 76px;

    position: static;
}


/* Navegação */
#nav-main {
    display: flex;
    align-items: center;
}

#nav-main ol {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav-main a {
    color: var(--color-red-dark);

    font-size: 1.3rem;

    text-decoration: none;
}


/* div dos botôes */
.nav-button {
    display: flex;
    gap: 0.5rem;
    margin: 1.3rem;
}


#secaodeadocao {
    position: relative;
    max-width: 1280px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 46rem;
    padding: 0 2rem ;
    min-height: 100vh;
}
#fundo {
    position: absolute;
    right: -179px;
    top: 156px;
}


.centersection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
     background-color: var(--color-red);
    overflow: hidden
}

#gatofundo {

    width: 70%;
    z-index: 2;
}

#gatopequeno{
    top: 6rem;
    position: absolute;
    z-index: 3;
    height: 247px;
}


#texto {
    margin-top: 4rem;
    position: relative;
    z-index: 1;

    h1 {
        font-size: 103px;
        line-height: 0.9;
        color: var(--color-white);
    }

    p {
        font-size: 30px;
        margin-top: 1.1rem;
        color: var(--color-white);
    }


    .button1 {
        background-color: var(--color-yellou);
        color: var(--color-white);
    }

    #div-button {
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
}

  #texto button {
    width: 10rem;
    height: 2.5rem;

    background-color: var(--color-white);
    color: var(--color-red-dark);

    border: 2px solid var(--color-yellou);
    border-radius: 0.4rem;
    }

#texto h1 span {
    color: var(--color-yellou);
}


#section-card {
     background-color: var(--color-red);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42rem;
    gap: 100px;
   
}



#section-qstr{
    height: 42rem;
    background-color: #af5656a1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: red;
    height: 20.1rem;
    display: flex;
    justify-content: space-between;
    
    img{
        height: 270px;
        top: 0px;
    }
}


#section-card{
    display: flex;
    justify-content: space-between;
}

.card{
    display: flex;
    align-items: flex-end;
    border-radius: 40px;
    background-color: rgb(25, 93, 171);
    height: 500px;
    width: 412px;
    overflow: hidden;
}

.card-texto{
    border-radius: 40px;
    background-color: black;
    height: 17.6rem;
    width: 100%;
    color: var(--color-white);
}

 #gato{
    background-image: url(../assets/imagens/dicadecuidado2.jpg);
}