
header {
    /* Mantém o header fixo no topo */
    position: fixed;
    top: 0;

    /* Divide o header em partes */
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 91.5em;
    height: 6rem;

    padding: 1rem;
    margin: 0.5rem;

    background-color: var(--color-white);

    border: 2.5px solid var(--color-reddark);
    border-radius: 20px;
}

header p {
    margin-left: 0.5rem;
}

/* Logo */
#header-main {
    display: flex;
    align-items: center;

    color: var(--color-reddark);
}

#header-main img {
    width: 198px;
    height: 56px;
}

/* Navegação */
#nav-main {
    display: flex;
    align-items: center;
}

#nav-main ol {
    display: flex;
    align-items: center;

    gap: 5rem;

    margin: 0;
    padding: 0;

    list-style: none;
}

#nav-main a {
    color: var(--color-reddark);

    font-size: 1.2rem;

    text-decoration: none;
}

/* Botões */
#nav-button {
    display: flex;
    gap: 0.5rem;
}

#nav-button button {
    width: 5rem;
    height: 2rem;

    background-color: var(--color-white);
    color: var(--color-reddark);

    border: 2px solid var(--color-reddark);
    border-radius: 0.4rem;
}

#nav-button #button1 {
    background-color: var(--color-reddark);
    color: var(--color-white);
}
