:root { 
    --color-red-dark: #7F1515; 
    --color-red: #B91C1C; 
    --color-red-light: #D83232;  
    --color-red-claro: #d92b2b; 
 
    --color-black: #111111; 
    --color-gray-dark: #333333; 
    --color-gray: #666666; 
    --color-gray-light: #F2F2F2; 
 
    --color-white: #FFFFFF; 
    --color-white-marrom: #f8eee5; 
    --color-yellou : #f4c95d;  
} 


/* =========================
   RESET
========================= */

*{ 
    box-sizing: border-box;  
    margin: 0; 
}


/* =========================
   CONFIGURAÇÕES GERAIS
========================= */

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
}


/* =========================
   MAIN
========================= */

main{ 
    height: 100vh; 
    width: 100%; 
}


/* =========================
   IMAGENS
========================= */

img {
    max-width: 100%;
    display: block;
}


/* =========================
   LINKS
========================= */

a {
    text-decoration: none;
    color: inherit;
}


/* =========================
   BOTÕES
========================= */

button {
    font-family: inherit;
    cursor: pointer;
}


/* =========================
   FORMULÁRIOS
========================= */

input,
textarea,
select,
button {
    font: inherit;
}


/* =========================
   TÍTULOS E TEXTOS
========================= */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}